.features {
  width: 100%;
  max-width: 120rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;

  .feature-item {
    width: 100%;
    position: relative;

    .feature-image {
      object-fit: cover;
      overflow: hidden;
    }

    .feature-description {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      font-size: 3rem;
      font-weight: bold;
      color: white;
      position: absolute;
      bottom: 2rem;
      left: 1rem;
    }
  }
}