.navbar {
  height: 8rem;
  width: 100%;
  background-color: darkred;
  display: flex;
  justify-content: center;

  .container {
    width: 100%;
    height: 100%;
    max-width: 120rem;    
    display: flex;
    align-items: center;
    justify-content: space-between;

    .sitename {
      color: white;
      font-size: 3rem;
      font-weight: bold;
    }

    .buttons > *{
      width: 10rem;
      margin-left: 2rem;
      padding: 1rem;
      font-size: 1.5rem;
      cursor: pointer;
      border: none;
    }
  }
}