.hotel-list {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  color: black;

  .list-container {
    width: 100%;
    max-width: 120rem;
    display: flex;
    justify-content: center;

    .list-search {
      flex: 1;
      background-color:  rgb(249, 173, 160);
      height: max-content;
      position: sticky;
      width: 100%;
      top: 2rem;
      padding: 1.5rem;
      border-radius: 0.5rem;


      .search-title {
        margin-bottom: 1rem;
        font-size: 2.5rem;
      }

      .search-group {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        position: relative;

        .search-item {
          font-size: 1.25rem;
          margin-bottom: -1.5rem;
        }

        > input {
          border: none;
          outline: none;
          height: 4rem;
          padding: 0.5rem;
          font-size: 2rem;
        }

        > span {
          height: 4rem;
          background-color: white;
          padding: 0.5rem;
          display: flex;
          align-items: center;
          font-size: 2rem;
          cursor: pointer;
          position: relative;
        }

        button {
          height: 4rem;
          border: none;
          background-color: rgb(194, 0, 0);
          font-size: 2rem;
          color: white;
          border: 0.1rem solid darkred;
          border-radius: 0.5rem;
        }

        .calendar {
          position: absolute;
          top: 4rem;
          left: -0.5rem;
        }

        .num-group {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        .num-group > span {
          font-size: 1.75rem;
          font-weight: bold;
        }

        .num-group > input {
          border: none;
          height: 4rem;
          width: 10rem;
          padding: 0.5rem;
          font-size: 2rem;
          text-align: center;
        }
      }
    }

    .list-results {
      flex: 3;
      margin-left: 2rem;
    }
  }
}

